//
// Variables
// --------------------------------------------------
$screen-sm: 575px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1199px;

a{
  &:hover, &:active, &:focus{
    text-decoration: none;
  }
}

.select-wrapper {
    position: relative;
    //width: 350px;
    width: auto;
    //padding-right: 30px;
    // Dropdown icon
    &::after {
        content: '';
        margin-right: 10px;
        pointer-events: none;
        position: absolute;
        right: 3px;
        top: 13px;
        background: url("../img/icon-down.svg") no-repeat center right;
        width: 25px;
        height: 25px;
        background-size: contain;
    }
  }
  
  // Default state
  .select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1;
    color: #495057;
    &:focus {
      color: $primary;
    }
    // Hack for IE 11+
    &::-ms-expand {
      display: none;
    }
  }


.modal-backdrop.show {
    opacity: 0.8;
}


.progressbar {
  counter-reset: step;
  padding: 0;
}
.progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

.progressbar{
  position: relative;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
  &:before{
      content: '';
      position: absolute;
      height: 1px;
      width: 80%;
      background: #55b776;
      top: 15px;
      left: 10%;
  }
  li.past{
    &:before{
      background-color: #55b776;
      border-color: #55b776;
      color: #fff;
    }
    
  }

}

/* The container must be positioned relative: */
.custom-dropdown {
  position: relative;
}

.custom-dropdown select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
  color: #495057;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #495057 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  //color: #ffffff;
  //padding: 8px 16px;
  border: 1px solid transparent;
  //border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #f2f2f2;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items div{
  padding: 8px;
}

// ------------  File upload BEGIN ------------ 

.file {
  position: relative;
  max-width: 22.5rem;
  font-size: 1.0625rem;
  font-weight: 600;
}
.file__input, .file__value {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  //margin-bottom: 0.875rem;
  color: rgba(255, 255, 255, 0.3);
  padding: 0.9375rem 1.0625rem;
}

.file__value{
  margin-top: 0.875rem;
}
.file__input--file {
  position: absolute;
  opacity: 0;
  width: 100%;
}
.file__input--label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
}
.file__input--label:after {
  content: attr(data-text-btn);
  border-radius: 3px;
  background-color: #5a7f71;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
  padding: 0.9375rem 1.0625rem;
  margin: -0.9375rem -1.0625rem;
  color: white;
  cursor: pointer;
}
.file__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.file__value:hover:after {
  color: white;
}
.file__value:after {
  content: "X";
  cursor: pointer;
}
.file__value:after:hover {
  color: white;
}
.file__remove {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}
// ------------  File upload BEGIN ------------ 


.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  background: #fff;
}

.number-input button:before, .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 1rem;
  height: 2rem;
  font-weight: bold;
  text-align: center;
}

.number-input  input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F79E05 0%, #8F5408 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F5408;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F5408;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}

.home{
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#B6BAC9 0%, #808080 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #808080;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #808080;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #808080;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #808080;
  }
}

.coupon {
  display: flex;
  width: 100%;
  max-width: 620px;
  background: #fff;
  .price {
    font-size: 23px;
    font-weight: 900;
    color: #f56359;
  }
  .date {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px 20px;
  }
  .right {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 160px;
    padding: 40px 20px;
    border-left: 2px dashed #e0e6ef;
    justify-content: center;
  }
  
  /* circle-css */
  
  .right::before,
  .right::after {
    position: absolute;
    display: block;
    content: "";
    border-radius: 100%;
    background: #e0e6ef;
    width: 22px;
    height: 22px;
  }
  .right::before {
    top: -11px;
    left: -12px;
  }
  .right::after {
    bottom: -11px;
    left: -12px;
  }
}


@media screen and (max-width: 767px) {
  .coupon {
    display: flex;
    flex-direction: column;
    .right {
      border-left: none;
      border-top: 2px dashed #e0e6ef;
      width: 100%;
      padding: 20px 20px;
    }
    .right::before {
      left: -12px;
      top: -11px;
    }
    .right::after {
      right: -12px;
      top: -11px;
      bottom: auto;
      left: auto;
    }
  }
  
}

.tickets {
	display: flex;
	padding: 5px;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
  .btn{
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
  }
}
.l-tickets {
  width: 75%;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r-tickets {
	flex: 1;
	background: orchid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-tickets {
  width: 65%;
  position: relative;
  background: radial-gradient(circle at right top, transparent 16px,#ffc854 0, #FFB300 100%) right top / 100% 50% no-repeat,
              radial-gradient(circle at right bottom, transparent 16px, #ffc854 0, #FFB300 100%) right bottom / 100% 50% no-repeat;
  filter: drop-shadow(-3px 0 3px rgba(0,0,0,.1));
}
.l-tickets::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 8px;
  top: 0;
  left: -8px;
  background: radial-gradient(circle at left center, transparent 8px, #FFB300 0) left center / 8px 20px;
}
.r-tickets {
	flex: 1;
  position: relative;
  background: radial-gradient(circle at left top, transparent 16px,  #ffc854 0,#ffcc61 100%) right top / 100% 50% no-repeat,
              radial-gradient(circle at left bottom, transparent 16px,  #ffc854 0,#ffcc61 100%) right bottom / 100% 50% no-repeat;
  filter: drop-shadow(3px 0 3px rgba(0,0,0,.1));
}
.r-tickets::before {
  content: '';
  width: 1px;
  background: linear-gradient(to top, #fff 0%, #fff 50%, transparent 50%) top left / 1px 20px repeat-y;
  position: absolute;
  left: 0;
  top: 16px;
  bottom: 16px;
} 
.r-tickets::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 8px;
  top: 0;
  right: -8px;
  background: radial-gradient(circle at right center, transparent 8px, #ffcc61 0) right center / 8px 20px;
}


@mixin star-rating( $filled-color: #F9BF3B, $empty-color: #ccc, $size: 30px, $width: 150px) {
  $star--filled: ★;
  $star--empty: ★;
  width: $width;
  > * {
   float: right;
  }
  // optional initial pulse of stars
  @at-root {
   @keyframes pulse {
    50% {
     color: lighten($empty-color, 10%);
     //text-shadow: 0 0 15px lighten($empty-color, 20%);
    }
   }
  }
  label {
   height: 40px;
   width: 20%;
   display: block;
   position: relative;
   cursor: pointer;
   @for $i from 5 through 1 {
    &:nth-of-type(#{$i}):after {
     $animation-delay: $i * .05s;
     animation-delay: $animation-delay;
    }
   }
   &:after {
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    content: '#{$star--empty}';
    color: $empty-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: $size;
    animation: 1s pulse ease;
   }
   &:hover:after {
    color: lighten($empty-color, 10%);
    //text-shadow: 0 0 15px lighten($empty-color, 10%);
   }
  }
  input {
   display: none;
   &:checked {
    + label:after,
    ~ label:after {
     content: '#{$star--filled}';
     color: $filled-color;
     //text-shadow: 0 0 20px $filled-color;
    }
   }
  }
 }
 
.rating {
  @include star-rating();
}