//
// Variables
// --------------------------------------------------
$screen-sm: 575px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1199px;


html {
    scroll-behavior: smooth;
}


body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
}

.text-underline{
    text-decoration: underline;
}

